@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
}
@font-face {
  font-family: La Belle Aurore;
  src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2');
}
@font-face {
  font-family: La Belle Aurore;
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2');
}

input,
textarea,
text {
  font-family: Helvetica Neu;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /*000814 for future use*/
  background-color: #98C1D9!important;
  display: block;
  font: 300 11px/1.4 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
}

// ::-webkit-scrollbar {
//   width: 7px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #98C1D9;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #005F73;
//   border-radius: 12px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #98C1D9;
//   border-radius: 10px;
// }

#no-scroll {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  /* width: 100%; */
}

#no-preloader {
  opacity: 0;
}
