.landingContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 70px;
    background-position: top center;
    background-repeat: no-repeat;
    // z-index: -1;
    height: 100%;
}

.landingHeaderRow{
    padding: 25px;
    color: #005F73;
    .landingMainHeader {
        font-size: 50px !important;
        margin-bottom: 20px!important;
    }
    
    .landingSecondaryHeader {
        font-size : 25px;
    }
}

.landingImageContainer {
    .landingMainImage{
        max-height: 330px;
    }
}

.landingPrimaryRow{
    padding: 15px 20px;
    .buttonColumn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }       
}

.loginButton, .registerButton {
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    background-color: #005F73;
    border: 1px solid #005F73;
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}