.table-header tr th{
    padding: 1.5rem 1.5rem;
    font-size: 16px;
    font-weight: bold;
    color: black;
    
}

.table-row-text-color td{
    padding: 1.5rem 1.5rem;
    font-size: 16px;
    font-weight: bold;
    color: #005F73;
}

.underline{
    text-decoration: underline;
    color:#005F73;
}