.mainPageContainer{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    flex-direction: column;
    .mainPageSecondaryRow{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; 
        padding: 20px;
        .formContainer {
            justify-content: space-between;
            flex-direction: row;
            width: 60%;
            .mainPageGoButtonContainer {
                display: flex;
                justify-content: flex-end;
                margin-right: 100px;
                .mainPageGoButton{
                    background: #089BAB33 0% 0% no-repeat padding-box;
                    border-radius: 12px;
                    opacity: 1;
                    border: 1px solid #007683;
                    text-align: left;
                    font-size: 18px;
                    font-family: Maven Pro;
                    // line-height: 1px;
                    font-weight: bold;
                    letter-spacing: 0px;
                    color: #007683;
                    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                    cursor: pointer;
                }
            }
        }
    }
    .mainPageServicesListContainer{
        p{
            font-size: 26px;
            font-weight: bold;
            color: #005F73;
        }
    }
}